.cb-select-label {
    color: var(--cb-text-secondary);
    font-size: var(--cb-label-01-font-size);
    font-weight: var(--cb-label-01-font-weight);
    letter-spacing: var(--cb-label-01-letter-spacing);
    line-height: var(--cb-label-01-line-height);
    margin-bottom: 0.5rem;
    vertical-align: baseline;
}
.cb-select-label.inline {
    margin-bottom: 0;
}

.cb-select-wrapper {
    align-items: center;
    background-color: transparent;
    display: flex;
    position: relative;
    width: 100%;
}
.cb-select-wrapper.small {
    height: 2rem;
}
.cb-select-wrapper.medium {
    height: 2.5rem;
}
.cb-select-wrapper.large {
    height: 3rem;
}

.cb-select-input {
    align-content: center;
    background-color: var(--cb-field);
    border: 0;
    border-bottom: 1px solid var(--cb-border-strong);
    color: var(--cb-text-primary);
    cursor: pointer;
    font-size: var(--cb-body-compact-01-font-size);
    font-weight: var(--cb-body-compact-01-font-weight);
    height: 100%;
    letter-spacing: var(--cb-body-compact-01-letter-spacing);
    line-height: var(--cb-body-compact-01-line-height);
    min-width: 10rem;
    padding-left: 1rem;
    padding-right: 1rem;
    vertical-align: baseline;
    width: 100%;
}
.cb-select-input.layer-00 {
    background-color: var(--cb-field);
    border-bottom: 1px solid var(--cb-border-strong);
}
.cb-select-input.layer-01 {
    background-color: var(--cb-field-01);
    border-bottom: 1px solid var(--cb-border-strong-01);
}
.cb-select-input.layer-02 {
    background-color: var(--cb-field-02);
    border-bottom: 1px solid var(--cb-border-strong-02);
}
.cb-select-input.layer-03 {
    background-color: var(--cb-field-03);
    border-bottom: 1px solid var(--cb-border-strong-03);
}
.cb-select-input:focus {
    outline: 2px solid var(--cb-focus);
    outline-offset: -2px
}
.cb-select-input.error {
    outline: 2px solid var(--cb-support-error);
    outline-offset: -2px
}
.cb-select-input:disabled {
    border-bottom: 1px solid transparent;
    color: var(--cb-text-disabled);
}
.cb-select-input[readonly="readonly"], .cb-select-input[readonly] {
    background-color: transparent;
    border-bottom: 1px solid var(--cb-border-subtle);
    color: var(--cb-text-primary);
}
.cb-select-wrapper.small .cb-select-input {
    padding-right: 2.5rem;
}
.cb-select-wrapper.medium .cb-select-input {
    padding-right: 3rem;
}
.cb-select-wrapper.large .cb-select-input {
    padding-right: 3.5rem;
}

.cb-select-menu {
    align-content: flex-start;
    display: flex;
    background-color: var(--cb-layer);
    box-shadow:	0 2px 6px 0 rgba(0,0,0,.2);
    flex-direction: column;
    justify-content: start;
    max-height: 10rem;
    overflow-x: hidden;
    overflow-y: scroll;
    position: absolute;
    top: 2.5rem;
    width: 100%;
    z-index: 2000;
}
.cb-select-input.layer-00 .cb-select-menu {
    background-color: var(--cb-layer);
}
.cb-select-input.layer-01 .cb-select-menu {
    background-color: var(--cb-layer-01);
}
.cb-select-input.layer-02 .cb-select-menu {
    background-color: var(--cb-layer-02);
}
.cb-select-input.layer-03 .cb-select-menu {
    background-color: var(--cb-layer-03);
}

.cb-select-menu.collapsed {
    max-height: 0;
    overflow: hidden;
}
.cb-select-item {
    align-items: center;
    background-color: var(--cb-layer);
    border-top: 1px solid var(--cb-border-subtle);
    color: var(--cb-text-secondary);
    cursor: pointer;
    display: flex;
    fill: var(--cb-icon-primary);
    font-size: var(--cb-body-compact-01-font-size);
    font-weight: var(--cb-body-compact-01-font-weight);
    letter-spacing: var(--cb-body-compact-01-letter-spacing);
    line-height: var(--cb-body-compact-01-line-height);
    flex-direction: row;
    justify-content: space-between;
    min-height: 2.5rem;
    padding: 0.25rem 1rem;
    width: 100%;
}
.cb-select-menu.layer-00 .cb-select-item {
    background-color: var(--cb-layer);
    border-top: 1px solid var(--cb-border-subtle);
}
.cb-select-menu.layer-01 .cb-select-item {
    background-color: var(--cb-layer-01);
    border-top: 1px solid var(--cb-border-subtle-01);
}
.cb-select-menu.layer-02 .cb-select-item {
    background-color: var(--cb-layer-02);
    border-top: 1px solid var(--cb-border-subtle-02);
}
.cb-select-menu.layer-03 .cb-select-item {
    background-color: var(--cb-layer-03);
    border-top: 1px solid var(--cb-border-subtle-03);
}
.cb-select-menu.layer-00 .cb-select-item.selected {
    background-color: var(--cb-layer-selected);
}
.cb-select-menu.layer-01 .cb-select-item.selected {
    background-color: var(--cb-layer-selected-01);
}
.cb-select-menu.layer-02 .cb-select-item.selected {
    background-color: var(--cb-layer-selected-02);
}
.cb-select-menu.layer-03 .cb-select-item.selected {
    background-color: var(--cb-layer-selected-03);
}

.cb-select-menu.layer-00 .cb-select-item:hover {
    background-color: var(--cb-field-hover);
}
.cb-select-menu.layer-01 .cb-select-item:hover {
    background-color: var(--cb-field-hover-01);
}
.cb-select-menu.layer-02 .cb-select-item:hover {
    background-color: var(--cb-field-hover-02);
}
.cb-select-menu.layer-03 .cb-select-item:hover {
    background-color: var(--cb-field-hover-03);
}

.cb-select-menu.layer-00 .cb-select-item:active {
    background-color: var(--cb-layer-active);
}
.cb-select-menu.layer-01 .cb-select-item:active {
    background-color: var(--cb-layer-active-01);
}
.cb-select-menu.layer-02 .cb-select-item:active {
    background-color: var(--cb-layer-active-02);
}
.cb-select-menu.layer-03 .cb-select-item:active {
    background-color: var(--cb-layer-active-03);
}

.cb-select-button {
    align-items: center;
    background-color: transparent;
    border-color: transparent;
    border-style: solid;
    border-width: 1px;
    cursor: pointer;
    display: inline-flex;
    fill: var(--cb-icon-primary);
    justify-content: center;
    position: absolute;
    right: 0;
    top: 0;
}
.cb-select-wrapper.small .cb-select-button {
    height: 2rem;
    width: 2rem;
}
.cb-select-wrapper.medium .cb-select-button {
    height: 2.5rem;
    width: 2.5rem;
}
.cb-select-wrapper.large .cb-select-button {
    height: 3rem;
    width: 3rem;
}
.cb-select-input.layer-00 .cb-select-button {
    border-left: 1px solid var(--cb-border-subtle);
}
.cb-select-input.layer-01 .cb-select-button {
    border-left: 1px solid var(--cb-border-subtle-01);
}
.cb-select-input.layer-02 .cb-select-button {
    border-left: 1px solid var(--cb-border-subtle-02);
}
.cb-select-input.layer-03 .cb-select-button {
    border-left: 1px solid var(--cb-border-subtle-03);
}

.cb-select-button:hover {
    background-color: var(--cb-background-hover);
}
.cb-select-button:active {
    background-color: var(--cb-background-active);
}
.cb-select-button:focus {
    border-color: var(--cb-focus);
}
.cb-select-button:disabled {
    fill: var(--cb-icon-disabled);
}

.cb-select-helper {
    color: var(--cb-text-helper);
    display: block;
    font-size: var(--cb-helper-text-01-font-size);
    font-weight: var(--cb-helper-text-01-font-weight);
    line-height: var(--cb-helper-text-01-line-height);
    letter-spacing: var(--cb-helper-text-01-letter-spacing);
    margin-top: 0.25rem;
}
.cb-validation-message + .cb-select-helper {
    display: none;
}
