<div class="cds--form-item">
    <fieldset class="cds--radio-button-group cds--radio-button-group--label-right">
        <legend class="cds--label" dir="ltr">Radio Button heading</legend>
        <div class="some-class cds--radio-button-wrapper">
            <input type="radio" class="cds--radio-button" id="radio-1" name="radio-button-group" value="standard">
            <label for="radio-1" class="cds--radio-button__label">
                <span class="cds--radio-button__appearance"></span>
                <span class="cds--radio-button__label-text" dir="ltr">Standard Radio Button</span>
            </label>
        </div>
        <div class="some-class cds--radio-button-wrapper">
            <input type="radio" class="cds--radio-button" id="radio-2" name="radio-button-group" value="default-selected" checked="">
            <label for="radio-2" class="cds--radio-button__label">
                <span class="cds--radio-button__appearance"></span>
                <span class="cds--radio-button__label-text" dir="ltr">Default Selected Radio Button</span>
            </label>
        </div>
        <div class="some-class cds--radio-button-wrapper">
            <input type="radio" class="cds--radio-button" id="radio-3" name="radio-button-group" value="blue">
            <label for="radio-3" class="cds--radio-button__label">
                <span class="cds--radio-button__appearance"></span>
                <span class="cds--radio-button__label-text" dir="ltr">Standard Radio Button</span>
            </label>
        </div>
        <div class="some-class cds--radio-button-wrapper">
            <input type="radio" class="cds--radio-button" id="radio-4" disabled="" name="radio-button-group" value="disabled">
            <label for="radio-4" class="cds--radio-button__label">
                <span class="cds--radio-button__appearance"></span>
                <span class="cds--radio-button__label-text" dir="ltr">Disabled Radio Button</span>
            </label>
        </div>
    </fieldset>
    <div class="cds--radio-button__validation-msg"></div>
</div>

@code {
    
}