@using Synonms.CarbonBlazor.Enumerations
<div class="cb-button-set" style="@JustifyContentMapper.ToStyle(JustifyContent); @Style">
    @ChildContent
</div>

@code {

    [Parameter]
    [EditorRequired]
    public RenderFragment ChildContent { get; set; } = null!;

    [Parameter]
    public string Style { get; set; } = string.Empty;

    [Parameter]
    public JustifyContent JustifyContent { get; set; } = JustifyContent.Start;
}