<div class="cb-button-set" style="@Style">
    @ChildContent
</div>

@code {

    [Parameter]
    [EditorRequired]
    public RenderFragment ChildContent { get; set; } = null!;

    [Parameter]
    public string Style { get; set; } = string.Empty;
}