<li class="cb-sidebar-link">
    <a href="@NavigationItem.Href" onclick="@ClickedCallback">
        @if (NavigationItem.Icon is not null)
        {
            @((MarkupString)CarbonBlazorIconMapper.ToSvg(NavigationItem.Icon.Value))
        }
        @NavigationItem.Text
    </a>
</li>

@code {
    [Parameter]
    [EditorRequired]
    public NavigationItem NavigationItem { get; set; } = null!;
    
    [Parameter]
    public EventCallback ClickedCallback { get; set; } = EventCallback.Empty;
}