.cb-sidebar-link {
    align-content: center;
    border: 1px solid transparent;
    background-color: transparent;
    color: var(--cb-text-secondary);
    fill: var(--cb-icon-secondary);
    font-size: var(--cb-heading-compact-01-font-size);
    font-weight: var(--cb-heading-compact-01-font-weight);
    height: 2rem;
    letter-spacing: var(--cb-heading-compact-01-letter-spacing);
    line-height: var(--cb-heading-compact-01-line-height);
    overflow: hidden;
}
.cb-sidebar-link a {
    color: inherit;
    display: flex;
    fill: var(--cb-icon-secondary);
    gap: 1.5rem;
    position: relative;
    align-items: center;
    padding-left: 1rem;
    padding-right: 4rem;
    text-decoration: none;
    transition: color 110ms, background-color 110ms, outline 110ms;
}

.cb-sidebar-link:hover {
    background-color: var(--cb-background-hover);
    color: var(--cb-text-primary);
    fill: var(--cb-icon-primary);
}
.cb-sidebar-link:focus {
    border-color: var(--cb-focus);
}
.cb-sidebar-link:active {
    background-color: var(--cb-background-active);
    color: var(--cb-text-primary);
    fill: var(--cb-icon-primary);
}
