<div class="cb-header-button">
    <CarbonBlazorButton @ref="_button" Kind="CarbonBlazorButtonKind.Ghost" Size="CarbonBlazorButtonSize.LargeExpressive" Display="CarbonBlazorButtonDisplay.IconOnly" 
                        IconType="@IconType" ClickedCallback="@ClickedCallback"></CarbonBlazorButton>
    
    @if (_isBadgeShown)
    {
        <CarbonBlazorIcon Type="CarbonBlazorIconType.CircleFill"></CarbonBlazorIcon>
    }
</div>

@code {
    private CarbonBlazorButton _button = null!;
    private bool _isBadgeShown;
    
    [Parameter, EditorRequired]
    public CarbonBlazorIconType IconType { get; set; }
    
    [Parameter]
    public EventCallback ClickedCallback { get; set; } = EventCallback.Empty;
    
    public bool IsToggled
    {
        get => _button.IsToggled; 
        set => _button.IsToggled = value;
    }

    public void ShowBadge()
    {
        _isBadgeShown = true;
    }

    public void HideBadge()
    {
        _isBadgeShown = false;
    }
}