@using Synonms.CarbonBlazor.Enumerations
<nav class="@CarbonBlazorPanelTypeMapper.ToClass(SidePanelType) @(IsExpanded ? "" : "collapsed")">
    <ul>
        @ChildContent
    </ul>
</nav>

@code {

    protected override void OnInitialized()
    {
        base.OnInitialized();

        IsExpanded = SidePanelType == CarbonBlazorSidePanelType.Left;
    }

    [Parameter]
    [EditorRequired]
    public CarbonBlazorSidePanelType SidePanelType { get; set; }
    
    [Parameter]
    [EditorRequired]
    public RenderFragment ChildContent { get; set; } = null!;

    public bool IsExpanded { get; set; }
}