<li class="cb-nav-item">
    <a class="cb-nav-item-link" href="@Href" onclick="@OnClick">
        <span>@Text</span>
    </a>
</li>

@code {
    [Parameter]
    [EditorRequired]
    public string Text { get; set; } = string.Empty;

    [Parameter]
    [EditorRequired]
    public string Href { get; set; } = "/";
    
    [Parameter]
    public EventCallback OnClick { get; set; } = EventCallback.Empty;
}