.cb-date-picker-label {
    color: var(--cb-text-secondary);
    font-size: var(--cb-label-01-font-size);
    font-weight: var(--cb-label-01-font-weight);
    letter-spacing: var(--cb-label-01-letter-spacing);
    line-height: var(--cb-label-01-line-height);
    margin-bottom: 0.5rem;
    vertical-align: baseline;
}

.cb-date-picker-wrapper {
    align-items: center;
    background-color: transparent;
    display: flex;
    position: relative;
    width: 100%;
}

.cb-date-picker-wrapper.small {
    height: 2rem;
}
.cb-date-picker-wrapper.medium {
    height: 2.5rem;
}
.cb-date-picker-wrapper.large {
    height: 3rem;
}

.cb-date-picker {
    background-color: var(--cb-field);
    border: 0;
    border-bottom: 1px solid var(--cb-border-strong);
    color: var(--cb-text-primary);
    font-size: var(--cb-body-compact-01-font-size);
    font-weight: var(--cb-body-compact-01-font-weight);
    height: 100%;
    letter-spacing: var(--cb-body-compact-01-letter-spacing);
    line-height: var(--cb-body-compact-01-line-height);
    padding-left: 1rem;
    padding-right: 1rem;
    vertical-align: baseline;
    width: 100%;
}
.cb-date-picker.layer-00 {
    background-color: var(--cb-field);
    border-bottom: 1px solid var(--cb-border-strong);
}
.cb-date-picker.layer-01 {
    background-color: var(--cb-field-01);
    border-bottom: 1px solid var(--cb-border-strong-01);
}
.cb-date-picker.layer-02 {
    background-color: var(--cb-field-02);
    border-bottom: 1px solid var(--cb-border-strong-02);
}
.cb-date-picker.layer-03 {
    background-color: var(--cb-field-03);
    border-bottom: 1px solid var(--cb-border-strong-03);
}

.cb-date-picker::placeholder {
    color: var(--cb-text-placeholder);
}
.cb-date-picker:focus {
    outline: 2px solid var(--cb-focus);
    outline-offset: -2px
}
.cb-date-picker.error {
    outline: 2px solid var(--cb-support-error);
    outline-offset: -2px
}
.cb-date-picker:disabled {
    border-bottom: 1px solid transparent;
    color: var(--cb-text-disabled);
}
.cb-date-picker[readonly="readonly"], .cb-date-picker[readonly] {
    background-color: transparent;
    border-bottom: 1px solid var(--cb-border-subtle);
    color: var(--cb-text-primary);
}

.cb-date-picker-icon {
    display: none;
    fill: var(--cb-support-error);
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
}
.cb-date-picker.error + .cb-date-picker-icon {
    fill: var(--cb-support-error);
    display: block;
}
.cb-date-picker.warning + .cb-date-picker-icon {
    fill: var(--cb-support-warning);
    display: block;
}
.cb-date-picker-wrapper.small .cb-date-picker-icon {
    top: 0.5rem;
    right: 2.5rem;
}
.cb-date-picker-wrapper.medium .cb-date-picker-icon {
    top: 0.75rem;
    right: 3rem;
}
.cb-date-picker-wrapper.large .cb-date-picker-icon {
    top: 1rem;
    right: 3.5rem;
}

.cb-date-picker-button {
    background-color: transparent;
    border-color: transparent;
    border-style: solid;
    border-width: 1px;
    cursor: pointer;
    fill: var(--cb-icon-primary);
    position: absolute;
    right: 0;
    top: 0;
}
.cb-date-picker-wrapper.small .cb-date-picker-button {
    height: 2rem;
    width: 2rem;
}
.cb-date-picker-wrapper.medium .cb-date-picker-button {
    height: 2.5rem;
    width: 2.5rem;
}
.cb-date-picker-wrapper.large .cb-date-picker-button {
    height: 3rem;
    width: 3rem;
}
.cb-date-picker-wrapper.large .cb-date-picker-button.decrement {
    right: 3rem;
}

.cb-date-picker-button:hover {
    background-color: var(--cb-background-hover);
}
.cb-date-picker-button:active {
    background-color: var(--cb-background-active);
}
.cb-date-picker-button:focus {
    border-color: var(--cb-focus);
}
.cb-date-picker-button:disabled {
    fill: var(--cb-icon-disabled);
}

.cb-date-picker-helper {
    color: var(--cb-text-helper);
    display: block;
    font-size: var(--cb-helper-text-01-font-size);
    font-weight: var(--cb-helper-text-01-font-weight);
    line-height: var(--cb-helper-text-01-line-height);
    letter-spacing: var(--cb-helper-text-01-letter-spacing);
    margin-top: 0.25rem;
}
.cb-validation-message + .cb-date-picker-helper {
    display: none;
}

.cb-date-picker-calendar {
    align-items: center;
    display: flex;
    background-color: var(--cb-layer);
    box-shadow:	0 2px 6px 0 rgba(0,0,0,.2);
    flex-direction: column;
    justify-content: start;
    overflow-x: hidden;
    overflow-y: scroll;
    padding: 0.25rem;
    position: absolute;
    right: 0;
    top: 2.5rem;
    width: 18rem;
    z-index: 2000;
}
.cb-select-input.layer-00 .cb-date-picker-calendar {
    background-color: var(--cb-layer);
}
.cb-select-input.layer-01 .cb-date-picker-calendar {
    background-color: var(--cb-layer-01);
}
.cb-select-input.layer-02 .cb-date-picker-calendar {
    background-color: var(--cb-layer-02);
}
.cb-select-input.layer-03 .cb-date-picker-calendar {
    background-color: var(--cb-layer-03);
}

.cb-date-picker-calendar.collapsed {
    box-shadow:	none;
    max-height: 0;
    overflow: hidden;
}

.cb-date-picker-calendar-header-wrapper {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.cb-date-picker-wrapper table {
    border-collapse: collapse;
    border-spacing: 0;
}
.cb-date-picker-wrapper thead {
    background-color: var(--cb-layer-accent);
    color: var(--cb-text-primary);
    font-size: var(--cb-heading-compact-01-font-size);
    font-weight: var(--cb-heading-compact-01-font-weight);
    line-height: var(--cb-heading-compact-01-line-height);
    letter-spacing: var(--cb-heading-compact-01-letter-spacing);
}
.cb-date-picker-wrapper.layer-00 thead {
    background-color: var(--cb-layer-accent);
}
.cb-date-picker-wrapper.layer-01 thead {
    background-color: var(--cb-layer-accent-01);
}
.cb-date-picker-wrapper.layer-02 thead {
    background-color: var(--cb-layer-accent-02);
}
.cb-date-picker-wrapper.layer-03 thead {
    background-color: var(--cb-layer-accent-03);
}

.cb-date-picker-wrapper thead tr {
    border: none;
    block-size: 2.5rem;
    inline-size: 100%;
}
.cb-date-picker-wrapper thead th {
    vertical-align: middle;
    width: 2.5rem;
}
.cb-date-picker-wrapper tbody {
    background-color: var(--cb-layer);
    font-size: var(--cb-body-compact-01-font-size);
    font-weight: var(--cb-body-compact-01-font-weight);
    inline-size: 100%;
    line-height: var(--cb-body-compact-01-line-height);
    letter-spacing: var(--cb-body-compact-01-letter-spacing);
    text-align: center;
}
.cb-date-picker-wrapper.layer-00 tbody {
    background-color: var(--cb-layer);
}
.cb-date-picker-wrapper.layer-01 tbody {
    background-color: var(--cb-layer-01);
}
.cb-date-picker-wrapper.layer-02 tbody {
    background-color: var(--cb-layer-02);
}
.cb-date-picker-wrapper.layer-03 tbody {
    background-color: var(--cb-layer-03);
}

.cb-date-picker-wrapper tbody tr {
    border: none;
    block-size: 2.5rem;
    inline-size: 100%;
    transition: background-color 70ms cubic-bezier(0,0,.38,.9);
    cursor: pointer;
}
.cb-date-picker-wrapper tbody td {
    vertical-align: middle;
    width: 2.5rem;
}
.cb-date-picker-wrapper tbody td:hover {
    background-color: var(--cb-layer-hover);
}
.cb-date-picker-wrapper.layer-00 tbody td:hover {
    background-color: var(--cb-layer-hover);
}
.cb-date-picker-wrapper.layer-01 tbody td:hover {
    background-color: var(--cb-layer-hover-01);
}
.cb-date-picker-wrapper.layer-02 tbody td:hover {
    background-color: var(--cb-layer-hover-02);
}
.cb-date-picker-wrapper.layer-03 tbody td:hover {
    background-color: var(--cb-layer-hover-03);
}

.cb-date-picker-wrapper tbody td:active {
    background-color: var(--cb-layer-active);
}
.cb-date-picker-wrapper.layer-00 tbody td:active {
    background-color: var(--cb-layer-active);
}
.cb-date-picker-wrapper.layer-01 tbody td:active {
    background-color: var(--cb-layer-active-01);
}
.cb-date-picker-wrapper.layer-02 tbody td:active {
    background-color: var(--cb-layer-active-02);
}
.cb-date-picker-wrapper.layer-03 tbody td:active {
    background-color: var(--cb-layer-active-03);
}

.cb-date-picker-wrapper tbody td.selected {
    background-color: var(--cb-layer-active);
    color: var(--cb-link-primary)
}
.cb-date-picker-wrapper.layer-00 tbody td.selected {
    background-color: var(--cb-layer-active);
}
.cb-date-picker-wrapper.layer-01 tbody td.selected {
    background-color: var(--cb-layer-active-01);
}
.cb-date-picker-wrapper.layer-02 tbody td.selected {
    background-color: var(--cb-layer-active-02);
}
.cb-date-picker-wrapper.layer-03 tbody td.selected {
    background-color: var(--cb-layer-active-03);
}
