@using Synonms.CarbonBlazor.Enumerations

@if (IsVisible)
{
    <div class="cb-modal">
        <div class="cb-modal-panel">
            <div class="cb-modal-header">
                <div class="cb-modal-title-wrapper">
                    @if (string.IsNullOrWhiteSpace(Label) is false)
                    {
                        <CarbonBlazorText Type="CarbonBlazorTextType.BodyCompact01">@Label</CarbonBlazorText>
                    }
                    @if (string.IsNullOrWhiteSpace(Title) is false)
                    {
                        <CarbonBlazorText Type="CarbonBlazorTextType.Heading03">@Title</CarbonBlazorText>
                    }
                </div>
                <CarbonBlazorButton Kind="CarbonBlazorButtonKind.Body" Display="CarbonBlazorButtonDisplay.IconOnly" Icon="CarbonBlazorIcon.Cancel" OnClick="@(() => IsVisible = false)"></CarbonBlazorButton>
            </div>
            @ChildContent
        </div>
    </div>
}

@code {

    [Parameter]
    [EditorRequired]
    public RenderFragment ChildContent { get; set; } = null!;

    [Parameter]
    public string Label { get; set; } = string.Empty;

    [Parameter]
    public string Title { get; set; } = string.Empty;

    [Parameter]
    public bool IsVisible { get; set; } = false;

}