.cb-sidebar-link ::deep a {
    color: var(--cb-text-secondary);
    display: flex;
    fill: var(--cb-icon-secondary);
    align-items: center;
    gap: 1.5rem;
    min-height: 2rem;
    padding: 0 1rem;
    text-decoration: none;
}

.cb-sidebar-link ::deep a:hover,
.cb-sidebar-link ::deep a.active {
    background-color: var(--cb-background-hover);
    color: var(--cb-text-primary);
    fill: var(--cb-icon-primary);
}

.cb-sidebar-link ::deep a:focus-visible {
    outline: 2px solid var(--cb-focus);
    outline-offset: -2px;
}
