.cb-text-input-label {
    color: var(--cb-text-secondary);
    font-size: var(--cb-label-01-font-size);
    font-weight: var(--cb-label-01-font-weight);
    letter-spacing: var(--cb-label-01-letter-spacing);
    line-height: var(--cb-label-01-line-height);
    margin-bottom: 0.5rem;
    vertical-align: baseline;
}

.cb-text-input-wrapper {
    align-items: center;
    background-color: transparent;
    cursor: pointer;
    display: flex;
    position: relative;
    width: 100%;
}

.cb-text-input-wrapper.small {
    height: 2rem;
}
.cb-text-input-wrapper.medium {
    height: 2.5rem;
}
.cb-text-input-wrapper.large {
    height: 3rem;
}

.cb-text-input {
    background-color: var(--cb-field);
    border: 0;
    border-bottom: 1px solid var(--cb-border-strong);
    color: var(--cb-text-primary);
    font-size: var(--cb-body-compact-01-font-size);
    font-weight: var(--cb-body-compact-01-font-weight);
    height: 100%;
    letter-spacing: var(--cb-body-compact-01-letter-spacing);
    line-height: var(--cb-body-compact-01-line-height);
    padding-left: 1rem;
    padding-right: 1rem;
    vertical-align: baseline;
    width: 100%;
}
.cb-text-input::placeholder {
    color: var(--cb-text-placeholder);
}
.cb-text-input:focus {
    outline: 2px solid var(--cb-focus);
    outline-offset: -2px
}
.cb-text-input.error {
    outline: 2px solid var(--cb-support-error);
    outline-offset: -2px
}
.cb-text-input:disabled {
    border-bottom: 1px solid transparent;
    color: var(--cb-text-disabled);    
}
.cb-text-input[readonly="readonly"], .cb-text-input[readonly] {
    background-color: transparent;
    border-bottom: 1px solid var(--cb-border-subtle);
    color: var(--cb-text-primary);
}

.cb-text-input-icon {
    display: none;
    fill: var(--cb-support-error);
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
}
.cb-text-input.error + .cb-text-input-icon {
    fill: var(--cb-support-error);
    display: block;
}
.cb-text-input.warning + .cb-text-input-icon {
    fill: var(--cb-support-warning);
    display: block;
}
.cb-text-input-wrapper.small .cb-text-input-icon {
    top: 0.5rem;
}
.cb-text-input-wrapper.medium .cb-text-input-icon {
    top: 0.75rem;
}
.cb-text-input-wrapper.large .cb-text-input-icon {
    top: 1rem;
}


.cb-text-input-helper {
    color: var(--cb-text-helper);
    display: block;
    font-size: var(--cb-helper-text-01-font-size);
    font-weight: var(--cb-helper-text-01-font-weight);
    line-height: var(--cb-helper-text-01-line-height);
    letter-spacing: var(--cb-helper-text-01-letter-spacing);
    margin-top: 0.25rem;
}
.cb-validation-message + .cb-text-input-helper {
    display: none;
}
