<div class="cb-notification-toast-queue">
    @foreach (Notification notification in NotificationBroker.Notifications)
    {
        <CarbonBlazorNotificationToast Notification="@notification"></CarbonBlazorNotificationToast>
    }
</div>

@code {

    [Inject]
    public INotificationBroker NotificationBroker { get; set; } = null!;

    protected override void OnInitialized()
    {
        base.OnInitialized();

        NotificationBroker.NotificationsUpdated += NotificationsUpdated;
    }

    private void NotificationsUpdated(object? sender, EventArgs args)
    {
        StateHasChanged();
    }
}