@using Synonms.CarbonBlazor.Enumerations
<td class="cb-data-table-data-cell @CarbonBlazorLayerMapper.ToClass(Layer) @Class" style="@Style">
    @ChildContent    
</td>

@code {

    [CascadingParameter]
    public CarbonBlazorLayer Layer { get; set; } = CarbonBlazorLayer.Two;
    
    [Parameter]
    [EditorRequired]
    public RenderFragment ChildContent { get; set; } = null!;

    [Parameter]
    public string Class { get; set; } = string.Empty;
    
    [Parameter]
    public string Style { get; set; } = string.Empty;
}