.cb-data-table {
    padding: 0;
    background-color: var(--cb-layer);
    color: var(--cb-text-primary);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: start;
    width: 100%;
}

.cb-data-table-toolbar-wrapper {
    width: 100%;
}
.cb-data-table.extra-small .cb-data-table-toolbar-wrapper,
.cb-data-table.extra-small .cb-data-table-toolbar-wrapper ::deep button,
.cb-data-table.small .cb-data-table-toolbar-wrapper,
.cb-data-table.small .cb-data-table-toolbar-wrapper ::deep button {
    height: 2rem;
}
.cb-data-table.medium .cb-data-table-toolbar-wrapper,
.cb-data-table.medium .cb-data-table-toolbar-wrapper ::deep button,
.cb-data-table.large .cb-data-table-toolbar-wrapper,
.cb-data-table.large .cb-data-table-toolbar-wrapper ::deep button,
.cb-data-table.extra-large .cb-data-table-toolbar-wrapper, 
.cb-data-table.extra-large .cb-data-table-toolbar-wrapper ::deep button {
    height: 3rem;
}

.cb-data-table table {
    border-collapse: collapse;
    border-spacing: 0;
    inline-size: 100%;
}
.cb-data-table thead {
    background-color: var(--cb-layer-accent);
    color: var(--cb-text-primary);
    font-size: var(--cb-heading-compact-01-font-size);
    font-weight: var(--cb-heading-compact-01-font-weight);
    line-height: var(--cb-heading-compact-01-line-height);
    letter-spacing: var(--cb-heading-compact-01-letter-spacing);
}
.cb-data-table.layer-00 thead {
    background-color: var(--cb-layer-accent);
}
.cb-data-table.layer-01 thead {
    background-color: var(--cb-layer-accent-01);
}
.cb-data-table.layer-02 thead {
    background-color: var(--cb-layer-accent-02);
}
.cb-data-table.layer-03 thead {
    background-color: var(--cb-layer-accent-03);
}

.cb-data-table.extra-small tr,
.cb-data-table.extra-small tr ::deep button {
    height: 1.5rem;
}
.cb-data-table.small tr,
.cb-data-table.small tr ::deep button {
    height: 2rem;
}
.cb-data-table.medium tr,
.cb-data-table.medium tr ::deep button {
    height: 2.5rem;
}
.cb-data-table.large tr,
.cb-data-table.large tr ::deep button {
    height: 3rem;
}
.cb-data-table.extra-large tr,
.cb-data-table.extra-large tr ::deep button {
    height: 4rem;
}

.cb-data-table thead tr {
    border: none;
    block-size: 3rem;
    inline-size: 100%;
}
.cb-data-table tbody {
    background-color: var(--cb-layer);
    font-size: var(--cb-body-compact-01-font-size);
    font-weight: var(--cb-body-compact-01-font-weight);
    inline-size: 100%;
    line-height: var(--cb-body-compact-01-line-height);
    letter-spacing: var(--cb-body-compact-01-letter-spacing);
}
.cb-data-table.layer-00 tbody {
    background-color: var(--cb-layer);
}
.cb-data-table.layer-01 tbody {
    background-color: var(--cb-layer-01);
}
.cb-data-table.layer-02 tbody {
    background-color: var(--cb-layer-02);
}
.cb-data-table.layer-03 tbody {
    background-color: var(--cb-layer-03);
}

.cb-data-table tbody tr {
    border: none;
    block-size: 3rem;
    inline-size: 100%;
    transition: background-color 70ms cubic-bezier(0,0,.38,.9);
    cursor: pointer;
}
.cb-data-table tbody tr:hover {
    background-color: var(--cb-layer-hover);
}
.cb-data-table.layer-00 tbody tr:hover {
    background-color: var(--cb-layer-hover);
}
.cb-data-table.layer-01 tbody tr:hover {
    background-color: var(--cb-layer-hover-01);
}
.cb-data-table.layer-02 tbody tr:hover {
    background-color: var(--cb-layer-hover-02);
}
.cb-data-table.layer-03 tbody tr:hover {
    background-color: var(--cb-layer-hover-03);
}

.cb-data-table tbody tr:active {
    background-color: var(--cb-layer-active);
}
.cb-data-table.layer-00 tbody tr:active {
    background-color: var(--cb-layer-active);
}
.cb-data-table.layer-01 tbody tr:active {
    background-color: var(--cb-layer-active-01);
}
.cb-data-table.layer-02 tbody tr:active {
    background-color: var(--cb-layer-active-02);
}
.cb-data-table.layer-03 tbody tr:active {
    background-color: var(--cb-layer-active-03);
}

.cb-data-table-title-wrapper {
    padding: 1rem;
    margin-bottom: 2.5rem;
}
.cb-data-table-title {
    font-size: var(--cb-heading-03-font-size);
    font-weight: var(--cb-heading-03-font-weight);
    line-height: var(--cb-heading-03-line-height);
    letter-spacing: var(--cb-heading-03-letter-spacing);
    margin-bottom: 0.25rem;
}
.cb-data-table-info {
    font-size: var(--cb-body-01-font-size);
    font-weight: var(--cb-body-01-font-weight);
    line-height: var(--cb-body-01-line-height);
    letter-spacing: var(--cb-body-01-letter-spacing);
}

.cb-data-table-pagination {
    display: flex;
    flex-direction: row;
    gap: 0;
    align-items: center;
    justify-content: stretch;
    width: 100%;
    background-color: var(--cb-layer);
    color: var(--cb-text-secondary);
    font-size: var(--cb-body-compact-01-font-size);
    font-weight: var(--cb-body-compact-01-font-weight);
    line-height: var(--cb-body-compact-01-line-height);
    letter-spacing: var(--cb-body-compact-01-letter-spacing);
    -webkit-border-after: 1px solid var(--cb-border-subtle);
    border-block-end: 1px solid var(--cb-border-subtle);
    -webkit-border-before: 1px solid var(--cb-layer);
    border-block-start: 1px solid var(--cb-layer);
}
.cb-data-table.layer-00 .cb-data-table-pagination {
    background-color: var(--cb-layer);
    -webkit-border-after: 1px solid var(--cb-border-subtle);
    border-block-end: 1px solid var(--cb-border-subtle);
    -webkit-border-before: 1px solid var(--cb-layer);
    border-block-start: 1px solid var(--cb-layer);
}
.cb-data-table.layer-01 .cb-data-table-pagination {
    background-color: var(--cb-layer-01);
    -webkit-border-after: 1px solid var(--cb-border-subtle);
    border-block-end: 1px solid var(--cb-border-subtle-01);
    -webkit-border-before: 1px solid var(--cb-layer-01);
    border-block-start: 1px solid var(--cb-layer-01);
}
.cb-data-table.layer-02 .cb-data-table-pagination {
    background-color: var(--cb-layer-02);
    -webkit-border-after: 1px solid var(--cb-border-subtle-02);
    border-block-end: 1px solid var(--cb-border-subtle-02);
    -webkit-border-before: 1px solid var(--cb-layer-02);
    border-block-start: 1px solid var(--cb-layer-02);
}
.cb-data-table.layer-03 .cb-data-table-pagination {
    background-color: var(--cb-layer-03);
    -webkit-border-after: 1px solid var(--cb-border-subtle-03);
    border-block-end: 1px solid var(--cb-border-subtle-03);
    -webkit-border-before: 1px solid var(--cb-layer-03);
    border-block-start: 1px solid var(--cb-layer-03);
}

.cb-data-table-pagination-items {
    -webkit-padding-end: 1rem;
    padding-inline-end: 1rem;
    -webkit-padding-start: 1rem;
    padding-inline-start: 1rem;
    text-align: center;
    vertical-align: middle;
    transition: background-color 70ms cubic-bezier(0,0,.38,.9);
    flex: 1;
}
.cb-data-table-pagination-nav {
    flex: 0;
}

.cb-data-table tbody tr td .cb-button-set {
    width: 100%;
    justify-content: end;
}
.cb-data-table-pagination-nav .cb-button-set {
    width: min-content;
    justify-content: end;
}

.cb-data-table-check-box {
    background-color: transparent;
    border: 1px solid var(--cb-icon-primary);
    cursor: pointer;
    height: 1rem;
    inline-size: 1rem;
    overflow: hidden;
    padding: 0;
    white-space: nowrap;
    width: 1rem;
}
.cb-data-table-check-box:checked {
    background-color: var(--cb-icon-primary);
    color: var(--cb-icon-inverse);
}
