<div class="cds--form-item some-class">
    <div class="cds--text-area__label-wrapper">
        <label for="test5" class="cds--label" dir="ltr">Text Area label</label>
    </div>
    <div class="cds--text-area__wrapper">
        <textarea id="test5" placeholder="Placeholder text" class="cds--text-area" aria-invalid="false" rows="4" style="width: 100%;"></textarea>
        <span class="cds--text-area__counter-alert" role="alert"></span>
    </div>
</div>


@code {
    
}