.cb-text.body-compact-01 {
    font-size: var(--cb-body-compact-01-font-size,0.875rem);
    font-weight: var(--cb-body-compact-01-font-weight,400);
    line-height: var(--cb-body-compact-01-line-height,1.28572);
    letter-spacing: var(--cb-body-compact-01-letter-spacing,0.16px);
}
.cb-text.body-compact-02 {
    font-size: var(--cb-body-compact-02-font-size,1rem);
    font-weight: var(--cb-body-compact-02-font-weight,400);
    line-height: var(--cb-body-compact-02-line-height,1.375);
    letter-spacing: var(--cb-body-compact-02-letter-spacing,0);
}
.cb-text.body-01 {
    font-size: var(--cb-body-01-font-size,0.875rem);
    font-weight: var(--cb-body-01-font-weight,400);
    line-height: var(--cb-body-01-line-height,1.42857);
    letter-spacing: var(--cb-body-01-letter-spacing,0.16px);
}
.cb-text.body-02 {
    font-size: var(--cb-body-02-font-size,1rem);
    font-weight: var(--cb-body-02-font-weight,400);
    line-height: var(--cb-body-02-line-height,1.5);
    letter-spacing: var(--cb-body-02-letter-spacing,0);
}
.cb-text.heading-01 {
    font-size: var(--cb-heading-01-font-size,0.875rem);
    font-weight: var(--cb-heading-01-font-weight,600);
    line-height: var(--cb-heading-01-line-height,1.42857);
    letter-spacing: var(--cb-heading-01-letter-spacing,0.16px);
}
.cb-text.heading-02 {
    font-size: var(--cb-heading-02-font-size,1rem);
    font-weight: var(--cb-heading-02-font-weight,600);
    line-height: var(--cb-heading-02-line-height,1.5);
    letter-spacing: var(--cb-heading-02-letter-spacing,0);
}
.cb-text.heading-03 {
    font-size: var(--cb-heading-03-font-size,1.25rem);
    font-weight: var(--cb-heading-03-font-weight,400);
    line-height: var(--cb-heading-03-line-height,1.4);
    letter-spacing: var(--cb-heading-03-letter-spacing,0);
}
.cb-text.heading-04 {
    font-size: var(--cb-heading-04-font-size,1.75rem);
    font-weight: var(--cb-heading-04-font-weight,400);
    line-height: var(--cb-heading-04-line-height,1.28572);
    letter-spacing: var(--cb-heading-04-letter-spacing,0);
}
.cb-text.heading-05 {
    font-size: var(--cb-heading-05-font-size,2rem);
    font-weight: var(--cb-heading-05-font-weight,400);
    line-height: var(--cb-heading-05-line-height,1.25);
    letter-spacing: var(--cb-heading-05-letter-spacing,0);
}
.cb-text.heading-06 {
    font-size: var(--cb-heading-06-font-size,2.625rem);
    font-weight: var(--cb-heading-06-font-weight,300);
    line-height: var(--cb-heading-06-line-height,1.199);
    letter-spacing: var(--cb-heading-06-letter-spacing,0);
}
.cb-text.heading-07 {
    font-size: var(--cb-heading-07-font-size,3.375rem);
    font-weight: var(--cb-heading-07-font-weight,300);
    line-height: var(--cb-heading-07-line-height,1.19);
    letter-spacing: var(--cb-heading-07-letter-spacing,0);
}
.cb-text.heading-compact-01 {
    font-size: var(--cb-heading-compact-01-font-size,0.875rem);
    font-weight: var(--cb-heading-compact-01-font-weight,600);
    line-height: var(--cb-heading-compact-01-line-height,1.28572);
    letter-spacing: var(--cb-heading-compact-01-letter-spacing,0.16px);
}
.cb-text.heading-compact-02 {
    font-size: var(--cb-heading-compact-02-font-size,1rem);
    font-weight: var(--cb-heading-compact-02-font-weight,600);
    line-height: var(--cb-heading-compact-02-line-height,1.375);
    letter-spacing: var(--cb-heading-compact-02-letter-spacing,0);
}
.cb-text.helper-text-01 {
    font-size: var(--cb-helper-text-01-font-size,0.75rem);
    font-weight: var(--cb-helper-text-01-font-weight,400);
    line-height: var(--cb-helper-text-01-line-height,1.33333);
    letter-spacing: var(--cb-helper-text-01-letter-spacing,0.32px);
}
.cb-text.helper-text-02 {
    font-size: var(--cb-helper-text-02-font-size,0.875rem);
    font-weight: var(--cb-helper-text-02-font-weight,400);
    line-height: var(--cb-helper-text-02-line-height,1.28572);
    letter-spacing: var(--cb-helper-text-02-letter-spacing,0.16px);
}
.cb-text.label-01 {
    font-size: var(--cb-label-01-font-size,0.75rem);
    font-weight: var(--cb-label-01-font-weight,400);
    line-height: var(--cb-label-01-line-height,1.33333);
    letter-spacing: var(--cb-label-01-letter-spacing,0.32px);
}
.cb-text.label-02 {
    font-size: var(--cb-label-02-font-size,0.875rem);
    font-weight: var(--cb-label-02-font-weight,400);
    line-height: var(--cb-label-02-line-height,1.28572);
    letter-spacing: var(--cb-label-02-letter-spacing,0.16px);
}
