<nav class="cb-sidebar @(_isExpanded ? "" : "collapsed")">
    <ul>
        @ChildContent
    </ul>
</nav>

@code {
    private bool _isExpanded = true;
    
    [Parameter]
    public RenderFragment ChildContent { get; set; } = null!;

    public void ToggleVisibility()
    {
        _isExpanded = !_isExpanded;
    }
}