<div class="cds--form-item some-class">
    <div class="cds--select">
        <label for="select-1" class="cds--label" dir="ltr">Select</label>
        <div class="cds--select-input__wrapper">
            <select id="select-1" class="cds--select-input" title="">
                <option class="cds--select-option" value="placeholder-item" disabled="" hidden="" selected="">Choose an option</option>
                <option class="cds--select-option" value="option-1">Option 1</option>
                <option class="cds--select-option" value="option-2">Option 2</option>
                <option class="cds--select-option" value="option-3">Option 3</option>
            </select>
            <svg focusable="false" preserveAspectRatio="xMidYMid meet" fill="currentColor" width="16" height="16" viewBox="0 0 16 16" aria-hidden="true" class="cds--select__arrow" xmlns="http://www.w3.org/2000/svg">
                <path d="M8 11L3 6 3.7 5.3 8 9.6 12.3 5.3 13 6z"></path>
            </svg>
        </div>
    </div>
</div>

@code {
    
}