.cb-button-set {
    align-items: center;
    border: 0;
    box-sizing: inherit;
    display: flex;
    flex-direction: row;
    font: inherit;
    font-size: 100%;
    gap: 2px;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}
