<div class="cds--tabs cds--tabs--contained">
    <button aria-hidden="true" tabindex="-1" aria-label="Scroll left" class="cds--tab--overflow-nav-button cds--tab--overflow-nav-button--previous cds--tab--overflow-nav-button--hidden" type="button">
        <svg focusable="false" preserveAspectRatio="xMidYMid meet" fill="currentColor" width="16" height="16" viewBox="0 0 16 16" aria-hidden="true" xmlns="http://www.w3.org/2000/svg">
            <path d="M5 8L10 3 10.7 3.7 6.4 8 10.7 12.3 10 13z"></path>
        </svg>
    </button>
    
    <div role="tablist" class="cds--tab--list">
        <button aria-controls="ccs-:r3:-tabpanel-0" aria-selected="true" id="ccs-:r3:-tab-0" role="tab" class="cds--tabs__nav-item cds--tabs__nav-link cds--tabs__nav-item--selected" tabindex="0" type="button">
            <div class="cds--tabs__nav-item-label-wrapper">
                <span class="cds--tabs__nav-item-label" dir="ltr">Dashboard</span>
            </div>
        </button>
        <div class="cds--tabs__nav-item--close--hidden">
            <button type="button" tabindex="-1" aria-hidden="true" class="cds--visually-hidden cds--tabs__nav-item--close-icon--selected" title="Remove Dashboard tab">
                <svg focusable="false" preserveAspectRatio="xMidYMid meet" fill="currentColor" aria-hidden="true" aria-label="Press delete to remove Dashboard tab" width="16" height="16" viewBox="0 0 32 32" role="img" xmlns="http://www.w3.org/2000/svg"><path d="M17.4141 16L24 9.4141 22.5859 8 16 14.5859 9.4143 8 8 9.4141 14.5859 16 8 22.5859 9.4143 24 16 17.4141 22.5859 24 24 22.5859 17.4141 16z"></path></svg>
            </button>
        </div>
        <button aria-controls="ccs-:r3:-tabpanel-1" aria-selected="false" id="ccs-:r3:-tab-1" role="tab" class="cds--tabs__nav-item cds--tabs__nav-link" tabindex="-1" type="button">
            <div class="cds--tabs__nav-item-label-wrapper">
                <span class="cds--tabs__nav-item-label" dir="ltr">Monitoring</span>
            </div>
        </button>
        <div class="cds--tabs__nav-item--close--hidden">
            <button type="button" tabindex="-1" aria-hidden="true" class="cds--visually-hidden" title="Remove Monitoring tab">
                <svg focusable="false" preserveAspectRatio="xMidYMid meet" fill="currentColor" aria-hidden="true" aria-label="Press delete to remove Monitoring tab" width="16" height="16" viewBox="0 0 32 32" role="img" xmlns="http://www.w3.org/2000/svg">
                    <path d="M17.4141 16L24 9.4141 22.5859 8 16 14.5859 9.4143 8 8 9.4141 14.5859 16 8 22.5859 9.4143 24 16 17.4141 22.5859 24 24 22.5859 17.4141 16z"></path>
                </svg>
            </button>
        </div>
        <button aria-controls="ccs-:r3:-tabpanel-2" aria-selected="false" id="ccs-:r3:-tab-2" role="tab" class="cds--tabs__nav-item cds--tabs__nav-link" tabindex="-1" type="button">
            <div class="cds--tabs__nav-item-label-wrapper">
                <span class="cds--tabs__nav-item-label" dir="ltr">Activity</span>
            </div>
        </button>
        <div class="cds--tabs__nav-item--close--hidden">
            <button type="button" tabindex="-1" aria-hidden="true" class="cds--visually-hidden" title="Remove Activity tab">
                <svg focusable="false" preserveAspectRatio="xMidYMid meet" fill="currentColor" aria-hidden="true" aria-label="Press delete to remove Activity tab" width="16" height="16" viewBox="0 0 32 32" role="img" xmlns="http://www.w3.org/2000/svg"><path d="M17.4141 16L24 9.4141 22.5859 8 16 14.5859 9.4143 8 8 9.4141 14.5859 16 8 22.5859 9.4143 24 16 17.4141 22.5859 24 24 22.5859 17.4141 16z"></path></svg>
            </button>
        </div>
        <button aria-controls="ccs-:r3:-tabpanel-3" aria-selected="false" id="ccs-:r3:-tab-3" role="tab" class="cds--tabs__nav-item cds--tabs__nav-link" tabindex="-1" type="button">
            <div class="cds--tabs__nav-item-label-wrapper">
                <span class="cds--tabs__nav-item-label" dir="ltr">Analyze</span>
            </div>
        </button>
        <div class="cds--tabs__nav-item--close--hidden">
            <button type="button" tabindex="-1" aria-hidden="true" class="cds--visually-hidden" title="Remove Analyze tab">
                <svg focusable="false" preserveAspectRatio="xMidYMid meet" fill="currentColor" aria-hidden="true" aria-label="Press delete to remove Analyze tab" width="16" height="16" viewBox="0 0 32 32" role="img" xmlns="http://www.w3.org/2000/svg"><path d="M17.4141 16L24 9.4141 22.5859 8 16 14.5859 9.4143 8 8 9.4141 14.5859 16 8 22.5859 9.4143 24 16 17.4141 22.5859 24 24 22.5859 17.4141 16z"></path></svg>
            </button>
        </div>
        <button aria-controls="ccs-:r3:-tabpanel-4" aria-disabled="true" aria-selected="false" id="ccs-:r3:-tab-4" role="tab" class="cds--tabs__nav-item cds--tabs__nav-link cds--tabs__nav-item--disabled" disabled="" tabindex="-1" type="button">
            <div class="cds--tabs__nav-item-label-wrapper">
                <span class="cds--tabs__nav-item-label" dir="ltr">Settings</span>
            </div>
        </button>
        <div class="cds--tabs__nav-item--close--hidden">
            <button type="button" tabindex="-1" aria-disabled="true" aria-hidden="true" disabled="" class="cds--visually-hidden cds--tabs__nav-item--close-icon--disabled" title="Remove Settings tab">
                <svg focusable="false" preserveAspectRatio="xMidYMid meet" fill="currentColor" aria-hidden="true" aria-label="Press delete to remove Settings tab" width="16" height="16" viewBox="0 0 32 32" role="img" xmlns="http://www.w3.org/2000/svg">
                    <path d="M17.4141 16L24 9.4141 22.5859 8 16 14.5859 9.4143 8 8 9.4141 14.5859 16 8 22.5859 9.4143 24 16 17.4141 22.5859 24 24 22.5859 17.4141 16z"></path>
                </svg>
            </button>
        </div>
    </div>
    
    <button aria-hidden="true" tabindex="-1" aria-label="Scroll right" class="cds--tab--overflow-nav-button cds--tab--overflow-nav-button--next" type="button">
        <svg focusable="false" preserveAspectRatio="xMidYMid meet" fill="currentColor" width="16" height="16" viewBox="0 0 16 16" aria-hidden="true" xmlns="http://www.w3.org/2000/svg">
            <path d="M11 8L6 13 5.3 12.3 9.6 8 5.3 3.7 6 3z"></path>
        </svg>
    </button>
</div>

@code {
    
}